div#hcard-Dustan-Kasten.vcard
  span.fn Dustan Kasten
  a.url(rel='me')(href='http://twitter.com/iamdustan')@iamdustan
  div.org Skookum Digital Works

section.slide
  h1 Welcome to the Responsive Web

section.slide.skookum
  h1 Welcome to the Responsive Web

section.slide
  h2.tag The web has grown beyond our desktops
  img.full(src='/images/slide-2-devices.jpg')

section.slide
  h2.tag The web has grown beyond our desktops
  img.full(src='/images/slide-3-devices.jpg')


section.slide.orange
  h2.standard Tonight
  ol.toc
    li.slide Media Queries, CSS3, and Shimville
    li.slide UA Sniffing is out. Bring on the <abbr title="Client-side detection">CSD</abbr>
    li.slide Page Speed
  img.faded.full(src='/images/slide-3-devices.jpg')


section.slide
  h2.standard slide, slide, slide
  ul
    li Move it or lose it buster
    li I'm watching a movie with Zombies
    li ZOMG!
